@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --primary: #CFC9BC;
  --navsimple: #222222;
  --primarytext: #11190C;
  --secondarytext: #4C4C4C;
  --yellowshade: #E6FF02;
  /* fonts */
  --font-display: "Poppins";
  --font-text: "Inter"
}